<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="JLow.eclipse"
         name="JLow Eclipse"
         point="chameleon.eclipse.language">
         <bootstrapper
          class="subobjectjava.eclipse.Bootstrapper">
         </bootstrapper>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association
       content-type="be.chameleon.eclipse.chameleonsource"
       file-extensions="jlow"/>
   </extension>
   
</plugin>
